[flake8]
ignore =
  W503,  # line break before binary operator. Deactivated because of incompatibility with black
  E265   # Block comment should start with '# '
max_line_length = 120
import_order_style = appnexus
application_package_names = cgmml
exclude =
    .git,
    .eggs/
    __pycache__,
    .ipynb_checkpoints,
    cgmml/models/GAPNet/GAPNet-height,
    cgmml/models/pointnet/pointnet-height,
    cgmml/models/PersonLab/PersonLabV1,
    cgmml/models/CNNDepthMap/CNNDepthMap-height/q2milestone-cnndepthmap-height,
    cgmml/models/CNNDepthMap/CNNDepthMap-height/s5-cnndepthmap-height,
    cgmml/models/CNNDepthMap/CNNDepthMap-height/s4-cnndepthmap-height,
    cgmml/models/CNNDepthMap/CNNDepthMap-height/q2s1-cnndepthmap-height,
    */tmp_*,
    */temp_*,
    build/,
    dist/,
    data/,
    logs/,
    wandb
    .venv
